.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  height: 100vh;
  color: white;
}

a {
  display: block;
}
